/* header */
*{
    box-sizing: border-box;
}

body{
    /* width: 70%; */
    min-height: 100%;
    width: 90%;
    background-color: #ffffff;
}

.header{
    display: flex;
    justify-content: center;
}

.b{
font-family: sans-serif;
margin:10px;
padding: 10px;
justify-content: left;
margin-right: 0px;
}

.nav{
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
    
}

.nav ol{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    text-align: center;
}


li a{
    color: #000;
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    padding: 5px;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.log{
    font-family: sans-serif;
    margin: 22px;
    padding: 10px;
    text-align: right;
    margin-left: 400px;
}

button{
    background-color: #fff;
    border: solid 1px ;
    padding: 5px;
    margin: 5px;
}
.green{
    background: #51e28e;
    border: #fff;
    padding: 5px;
    color: #fff;
}

/* toggle */

.container{
  /* width: 70%; */
  justify-content: center;

}

.top{
    display: flex;
    margin: 0px 200px;
    padding: 0px 20px;
    justify-content: center;
    vertical-align: top;
    width: 100%;
}

.pp{
margin: 0px 330px 0px 0px;

}

.mo i{
    padding: 20px 0px;
    margin: 5px;
}

.mo p{
padding: 20px 20px;
 font-size: 10px;
 margin: 5px 5px;
}
.mo div{
    display: flex;
    vertical-align: top;
}

/* box */

.pm{
     display: flex;
     width: 100%;
     /* text-align: center; */
     margin: 20px;
     padding: 20px;
     justify-content: center;
     
}

.pm p{
    font-size: 10px;
}

.pm b{
    font-size: 20px;
}

.pm li{
    font-size: 12px;
    font-family:serif;
    text-align: left;
    list-style-type: circle;
}

.p{
    width: 30%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    justify-content: left;
    box-shadow: 1px 2px 3px 4px rgba(114, 113, 113, 0.4);
    border-radius: 5px;
    
}

.m{
  width: 30%;
  text-align: rigth;
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 2px 3px 4px rgba(114, 113, 113, 0.4);
  border-radius: 5px;
}

h4{
    text-align: left;
}

hr{
    border: 1px solid #51e28e;
}

.greenn {
    width: 70%;
    color: #fff;
    font-size: 10px;
    border-radius: 2px;
    height: 4vh;
    background-color: #51e28e;
    justify-content: center;
}

/* text */

.text{
    background-color: #f6f8f5;
    font-size: 25px;
    text-align: center;
    width: 70%;
    justify-content: center;
    height: 50px;
    padding: auto;
    margin: auto;
}

/* textarea */

.textarea{
    width: 100%;
    margin: 15px;
}

.textarea p{
    margin: auto;
    padding: 10px;
}

.cpb{
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    background-color: #fff;
    padding: 0px 200px;
    border-radius: 200px;
}

.collab{
display: flex;
margin: auto;
justify-content: center;
box-shadow: 1px 2px 3px 4px rgba(223, 222, 222, 0.4);
padding: 5px;
}

.part{
display: flex;
justify-content: center;
margin: auto;
box-shadow: 1px 2px 3px 4px rgba(223, 222, 222, 0.4);
padding: 5px;
margin-top: 5px;
}

.bon{
display: flex;
justify-content: center;
margin: auto;
box-shadow: 1px 2px 3px 4px rgba(223, 222, 222, 0.4);
padding: 5px;
margin-top: 5px;
}

.col p{
    font-size: 10px;
    padding: 2px;
    margin: 2px;
}

.col{
    margin: 2px;
    padding: 2px;
    justify-content: left;
}

.col h4{
    margin: 2px 50px;
    text-align: left;
    margin: 5px;
}

.free h3{
margin: 5px 0px 0px 450px;
text-align: center;
}

.dol h3{
    margin: 5px 0px 0px 490px;
    text-align: center;
}

.dol p{
    margin: 5px 0px 0px 490px;
    text-align: center;
    font-size: 10px;
}

.blue .textt{
    text-align: left;
    display: flex;
    margin: 0px 20px;
    font-size: 25px;
}

.blue{
    display: flex;
    justify-content: center;
    margin: 30px 200px;
    padding: 20px 0px;
    background-color: #e9f5fd;
}

.start{
    text-align: left;
    display: flex;
    margin: 0px 200px;
    margin-top: 40px;
}

.gren{
    color: #51e28e;
}

.logg .start{
    color: #fff;
    font-size: 10px;
    border-radius: 2px;
    /* height: 4vh; */
    background-color: #51e28e;
    padding: 7px 25px;
}

.logg{
    padding: 0px 0px 40px 0px;
}

.faq{
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: #51e28e;
    text-transform: capitalize;
    font-size: 20px;
}

.answers{
    text-align: left;
    padding: 0px 250px;
    margin:0px 200px;
    line-height: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 40px 200px;
    padding: 40px 20px;
}

footer li{
    list-style-type: none;
    font-size: 15px;
    line-height: 25px;
}

footer h4{
    font-size: 15px;
}